  
<% if logged_in? %>
 <%= current_user.name %>
 <p>Razak</p>
<% end %>
 <p>Razak</p>
 <p id=”alert”><%= alert %></p>
 <h1>Login</h1>

 <%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :id %>
    <%= text_field_tag :id %>
  </div>  

  <%= submit_tag("Login") %>
<% end %>