<main>

<% @events.each do |x| %>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Event
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <div><%= x.description %></div>
      <div><%= x.creator.name%></div>
      <br>
      <time datetime="2016-1-1"><%= x.date %></time>
    </div>
  </div>
  <footer class="card-footer">
  	<% if logged_in? %>
  	<%= link_to 'Attend', new_user_event_attended_event_path(current_user.id, x.id), class:"card-footer-item", data: {confirm: "Attend to this event?", disable_with: "Attending..." } %>
  	<% end %>
  	<%= link_to 'View',  user_event_path(0, x.id),  class:"card-footer-item" %>  	
    <a href="#" class="card-footer-item">Register</a>
    <a href="#" class="card-footer-item">Remind me</a>
  </footer>
</div>

<% end %>
<% if logged_in? %>
  	<%= link_to 'Back',  user_path(current_user.id), class:"button is-link" %>
<% else %>
<div class="buttons">
  <button class="button is-warning">
  	<%= link_to 'Login',  new_session_path %>
  </button>
</div>
<% end %>

</main>